@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

.all-blocks-container {
    .main {
        position: relative;
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
        background-color: $accent-color;
        height: 800px;

        &__background-mobile-image-big,
        &__background-mobile-image-medium,
        &__background-mobile-image-small {
            display: none;
        }

        &__background-big-image {
            position: absolute;
            right: 0px;
            top: 0px;
        }

        &__background-medium-image {
            position: absolute;
            left: 62px;
            top: 69px;
        }

        &__background-small-image {
            position: absolute;
            right: 344px;
            bottom: 149px;
        }

        &__title {
            color: $primary-color;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            margin-bottom: $padding-small;
            padding-top: 196px;

        }

        &__description {
            color: $primary-color;
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            line-height: $line-height-medium;
            margin-bottom: $margin-medium-large;
        }

        &__cta {
            width: 247px;
            padding: $padding-small $padding-large;
            gap: 10px;
            border-radius: $border-radius-large;
            border: 1px solid $primary-color;
            background: $button-bg-color;
            color: $background-color-light;
            font: inherit;
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $button-hover-bg-color;
                color: $primary-color;
            }
        }

        &__animation-stroke {
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            background-color: $secondary-color;
            margin-top: 156px;
            height: 90px;
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            gap: 51px;
        }

        &__animation-text {
            color: $primary-color;
            font-size: $font-size-title;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        &__animation-icon {
            height: 36px;
            width: 36px;
        }
    }

    .about {
        background-color: $primary-color;
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
        position: relative;
        padding-bottom: 50px;

        &__background-big-image {
            position: absolute;
            top: 109px;
            right: 0px;
            overflow: hidden;
        }

        &__background-small-image {
            position: absolute;
            top: 771px;
            left: 25px;
        }

        &__background-medium-image {
            position: absolute;
            top: 825px;
            left: 40px;
        }

        &__title {
            color: $background-color-light;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            padding-bottom: $padding-small;
            padding-top: 94px;
        }

        &__description {
            color: $background-color-light;
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            padding-bottom: $padding-x-large;
        }

        &__container-card {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
            position: relative;
        }

        &__card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $background-color-light;
            text-decoration: none;
            border-radius: $border-radius-medium;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            position: relative;

            &:hover {
                transform: scale(1.07);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }
        }

        &__card-image {
            width: 100%;
        }

        &__card-description {
            color: $primary-color;
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
            background-color: $card-bg-color;
            padding-left: $padding-small;
            padding-right: $padding-small;
            padding-top: $padding-xs;
            padding-bottom: $padding-xs;
            border-radius: $border-radius-large;
        }

        &__card-text {
            margin-top: $margin-medium;
            margin-left: $margin-medium;
        }

        &__card-name {
            color: $primary-color;
            font-size: $font-size-title;
            font-weight: $font-weight-bold;
            margin-right: $margin-medium;
            margin-bottom: $margin-medium;
            margin-top: $margin-small;
        }

        .position-bottom-middle {
            margin-top: $margin-medium;
        }
    }

    .games {
        position: relative;
        background-color: $primary-color;
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
        padding-top: $margin-medium-large;
        padding-bottom: 144px;

        &__title {
            color: $background-color-light;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            padding-bottom: $padding-x-large;
        }

        &__card-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__card-right,
        &__card-left {
            display: flex;
            width: 100%;
            background-color: $background-color-light;
            border-radius: $line-height-large;
            height: 504px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            position: relative;

            &:hover {
                transform: scale(1.07);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }
        }

        &__card-right {
            justify-content: space-between;
        }

        &__card-content {
            padding-top: $padding-medium-large;
            padding-left: $padding-medium-large;
        }

        &__card-content-title {
            color: $primary-color;
            font-size: $font-size-xl;
            font-weight: $font-weight-bold;
        }

        &__card-content-description {
            padding-bottom: 36px;
            padding-top: $padding-medium;
            color: $primary-color;
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
        }

        &__card-image {
            height: 100%;
        }

        &__card-button {
            background-color: $button-bg-color;
            color: $background-color-light;
            font: inherit;
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            padding-left: $padding-x-large;
            padding-right: $padding-x-large;
            padding-top: $padding-small;
            padding-bottom: $padding-small;
            border-radius: $border-radius-large;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $button-hover-bg-color;
                color: $primary-color;
            }
        }

        &__background-bottom {
            position: absolute;
            right: 45px;
            top: 88px;
        }

        &__background-top {
            position: absolute;
            right: 52px;
            bottom: 25px;
        }
    }
}

.footer-container {
    background-color: $secondary-color;

    &__content {
        padding-top: $padding-large;
        padding-bottom: $padding-large;
        display: flex;
        justify-content: center;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        color: #000;
    }
}

@import "tablet";