// Variables for colors
$primary-color: #202027;
$secondary-color: #BCEC30;
$accent-color: #E1FF8F;
$button-bg-color: #202027;
$button-hover-bg-color: #FFF;
$text-color: #202027;
$background-color-light: #FFF;
$background-color-dark: #202027;
$card-bg-color: #F7F7F7;

// Variables for font sizes
$font-size-large: 64px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-button: 24px;
$font-size-title: 32px;
$font-size-cta: 24px;

// Variables for spacing
$padding-small: 16px;
$padding-medium: 28px;
$padding-large: 65px;
$padding-x-large: 75px;

// Font family
$font-family: 'Montserrat', sans-serif;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

.all-blocks-container {
    .main {
        position: relative;
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
        background-color: $accent-color;
        height: 800px;

        &__background-mobile-image {
            display: none;
        }

        &__background-big-image {
            position: absolute;
            left: 852px;
            top: 0px;
        }

        &__background-medium-image {
            position: absolute;
            left: 62px;
            top: 94px;
        }

        &__background-small-image {
            position: absolute;
            left: 156px;
            top: 69px;
        }

        &__title {
            color: $primary-color;
            font-size: $font-size-large;
            font-weight: 700;
            margin-bottom: $padding-small;
            padding-top: 196px;
        }

        &__description {
            color: $primary-color;
            font-size: $font-size-medium;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 48px;
        }

        &__cta {
            width: 247px;
            padding: $padding-small $padding-large;
            gap: 10px;
            border-radius: 60px;
            border: 1px solid $primary-color;
            background: $button-bg-color;
            color: $background-color-light;
            font: inherit;
            font-size: $font-size-cta;
            font-weight: 600;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $button-hover-bg-color;
                color: $primary-color;
            }
        }

        &__animation-stroke {
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            background-color: $secondary-color;
            margin-top: 156px;
            height: 90px;
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            gap: 51px;
        }

        &__animation-text {
            color: $primary-color;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__animation-icon {
            height: 36px;
            width: 36px;
        }
    }

    .about {
        background-color: $primary-color;
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
        position: relative;
        padding-bottom: 50px;

        &__background-big-image {
            position: absolute;
            top: 109px;
            left: 982px;
            overflow: hidden;
        }

        &__background-small-image {
            position: absolute;
            top: 771px;
            left: 25px;
        }

        &__background-medium-image {
            position: absolute;
            top: 825px;
            left: 39px;
        }

        &__title {
            color: $background-color-light;
            font-size: $font-size-large;
            font-weight: 700;
            padding-bottom: $padding-small;
            padding-top: 94px;
        }

        &__description {
            color: $background-color-light;
            font-size: $font-size-medium;
            font-weight: 400;
            padding-bottom: 72px;
        }

        &__container-card {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
            position: relative;
        }

        &__card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $background-color-light;
            text-decoration: none;
            border-radius: 30px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            position: relative;

            &:hover {
                transform: scale(1.07);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }
        }

        &__card-image {
            width: 100%;
        }

        &__card-description {
            color: $primary-color;
            font-size: $font-size-small;
            font-weight: 500;
            background-color: $card-bg-color;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 10px;
            border-radius: 52px;
        }

        &__card-text {
            margin-top: 32px;
            margin-left: 32px;
        }

        &__card-name {
            color: $primary-color;
            font-size: $font-size-title;
            font-weight: 700;
            margin-right: 32px;
            margin-bottom: 36px;
            margin-top: 16px;
        }

        .position-bottom-middle {
            margin-top: 39px;
        }
    }

    .games {
        position: relative;
        background-color: $primary-color;
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
        padding-top: 46px;
        padding-bottom: 144px;

        &__title {
            color: $background-color-light;
            font-size: $font-size-large;
            font-weight: 700;
            padding-bottom: 72px;
        }

        &__card-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__card-right,
        &__card-left {
            display: flex;
            width: 100%;
            background-color: $background-color-light;
            border-radius: 48px;
            box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
            height: 504px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            position: relative;

            &:hover {
                transform: scale(1.07);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }
        }

        &__card-right {
            justify-content: space-between;
        }

        &__card-content {
            padding-top: 48px;
            padding-left: 48px;
        }

        &__card-content-title {
            color: $primary-color;
            font-size: 48px;
            font-weight: 700;
        }

        &__card-content-description {
            padding-bottom: 36px;
            padding-top: 24px;
            color: $primary-color;
            font-size: $font-size-medium;
            font-weight: 400;
        }

        &__card-image {
            height: 100%;
        }

        &__card-button {
            background-color: $button-bg-color;
            color: $background-color-light;
            font: inherit;
            font-size: $font-size-button;
            font-weight: 600;
            padding-left: $padding-x-large;
            padding-right: $padding-x-large;
            padding-top: $padding-small;
            padding-bottom: $padding-small;
            border-radius: 60px;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $button-hover-bg-color;
                color: $primary-color;
            }
        }

        &__background-bottom {
            position: absolute;
            left: 1276px;
            top: 88px;
        }

        &__background-top {
            position: absolute;
            left: 1248px;
            top: 3389px;
        }
    }
}

.footer-container {
    background-color: $secondary-color;

    &__content {
        padding-top: 61px;
        padding-bottom: 60px;
        display: flex;
        justify-content: center;
        font-size: $font-size-medium;
        font-weight: 600;
        color: #000;
    }
}

@import "tablet";