@media (max-width: 1024px) {

    .all-blocks-container {
        overflow-x: hidden;
        overflow-y: hidden;

        .center {
            padding-left: calc(50% - $padding-small);
            padding-right: calc(50% - $padding-small);
        }

        .main {
            text-align: center;

            &__background-big-image {
                left: 586px;
            }

            &__cta {
                display: inline-block;

                &:hover {
                    background-color: $primary-color;
                    color: $background-color-light;
                }

            }
        }

        .about {
            display: none;
        }

        .games {
            .center {
                padding-left: calc(50% - $padding-small);
                padding-right: calc(50% - $padding-small);
            }

            &__title {
                padding-bottom: $padding-small;
            }

            &__card-right,
            &__card-left {
                display: flex;
                width: 100%;
                border-radius: 30px;
                height: 343px;

                &:hover {
                    transform: none;
                    box-shadow: none;
                }
            }

            &__card-content {
                padding-top: 33px;
                padding-left: $padding-small;
                padding-right: $padding-small;
            }

            &__card-content-title {
                font-size: $font-size-medium;
                font-weight: 700;
            }

            &__card-content-description {
                padding-bottom: 32px;
                padding-top: 16px;
                font-size: $font-size-small;
                font-weight: 400;
            }

            &__card-image {
                height: 100%;
                width: 414px;
            }

            &__card-button {
                font-size: $font-size-small;
                padding-left: $padding-medium;
                padding-right: $padding-medium;
                padding-top: $padding-small;
                padding-bottom: $padding-small;

                &:hover {
                    background-color: $primary-color;
                    color: $background-color-light;
                }
            }

            &__background-bottom {
                position: absolute;
                left: 857px;
                top: 2410px;
            }

            &__background-top {
                position: absolute;
                left: 857px;
                top: 35px;
            }
        }
    }
}

@media (max-width: 767px) {
    .all-blocks-container {
        overflow-x: hidden;
        overflow-y: hidden;

        .center {
            padding-left: $padding-small;
            padding-right: $padding-small;
        }

        .main {
            position: relative;
            height: 700px;

            &__title {
                font-size: $font-size-title;
                padding-top: 147px;
            }

            &__description {
                font-size: $font-size-small;
                margin-bottom: 36px;
            }

            &__cta {
                width: 285px;
                padding: $padding-small $padding-medium;
                font-size: $font-size-small;
            }

            &__animation-stroke {
                margin-top: 131px;
                height: 51px;
                gap: $padding-small;
            }

            &__animation-text {
                font-size: $font-size-small;
            }

            &__animation-icon {
                height: 19px;
                width: 19px;
            }

            &__background-big-image,
            &__background-medium-image,
            &__background-small-image {
                display: none;
            }

            &__background-mobile-image {
                display: block;
                position: absolute;
                left: 39px;
                top: 0px;
            }

            br {
                display: none;
            }
        }

        .about {
            display: none;
        }

        .games {
            padding-bottom: $padding-small;
            padding-top: $padding-small;

            &__title {
                color: $background-color-light;
                font-size: $font-size-title;
                padding-bottom: $padding-small;
            }

            &__card-container {
                display: flex;
                flex-direction: column;
                gap: $padding-small;
            }

            &__card-right,
            &__card-left {
                display: flex;
                flex-direction: column;
                width: 100%;
                min-height: 626px;
            }

            &__card-right {
                display: flex;
                flex-direction: column-reverse;
            }

            &__card-content {
                padding-top: $padding-small;
                padding-left: $padding-small;
            }

            &__card-content-title {
                font-size: $font-size-medium;
                font-weight: 700;
            }

            &__card-content-description {
                padding-bottom: $padding-small;
                padding-top: $padding-small;
                font-size: $font-size-small;
            }

            &__card-image {
                width: auto;
            }

            &__card-button {
                font-size: $font-size-small;
                padding-top: $padding-small;
                width: 100%;
                margin-bottom: 32px;
            }

            &__background-bottom,
            &__background-top {
                display: none;
            }

            &__card-content-description br {
                display: none;
            }
        }
    }

    .footer-container {
        &__content {
            padding-top: $padding-small;
            padding-bottom: $padding-small;
            font-size: $font-size-small;
            font-weight: 600;
        }
    }
}