// Variables for colors
$primary-color: #202027;
$secondary-color: #BCEC30;
$accent-color: #E1FF8F;
$button-bg-color: #202027;
$button-hover-bg-color: #FFF;
$text-color: #202027;
$background-color-light: #FFF;
$background-color-dark: #202027;
$card-bg-color: #F7F7F7;
$border-color: #CCCCCC;

// Variables for font sizes
$font-size-xs: 14px;
$font-size-small: 16px;
$font-size-title: 32px;
$font-size-medium: 24px;
$font-size-xl: 48px;
$font-size-large: 64px;

// Font Weight
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Variables for spacing
$padding-xs: 8px;
$padding-small: 16px;
$padding-medium: 28px;
$padding-medium-large: 48px;
$padding-large: 65px;
$padding-x-large: 75px;
$margin-small: 16px;
$margin-medium: 32px;
$margin-large: 64px;
$margin-medium-large: 48px;

// Line Heights
$line-height-small: 20px;
$line-height-medium: 32px;
$line-height-large: 48px;

// Border Radius
$border-radius-medium: 30px;
$border-radius-large: 60px;

// Shadows
$box-shadow-large: 0 15px 30px rgba(0, 0, 0, 0.2);

// Font family
$font-family: 'Montserrat', sans-serif;
